:root {
  --color: hsl(220, 13%, 13%);
  --color2: hsl(219, 9%, 45%);
  --color3: hsl(220, 14%, 75%);
  --color4: hsl(223, 64%, 98%);
  --color5: hsl(0, 0%, 0%);
  --orange: hsl(26, 100%, 55%);
  --pale: hsl(25, 100%, 94%);
}
body {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
#cart,
#avatar,
#plus,
#minus,
#atc {
  cursor: pointer;
}
#thumbs {
  display: none;
}
header {
  min-width: 375px;
  max-width: 400px;
  margin: 0 auto;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
#logo {
  display: flex;
  align-items: center;
  height: 100%;
}
#li {
  margin-top: -3px;
}
#menu {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
#nav {
  display: none;
}
#cart {
  margin-right: 10px;
}
#notification {
  width: 15px;
  height: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 8px;
  color: white;
  margin-top: -15px;
  margin-left: -20px;
  background: hsl(26, 100%, 55%);
  font-weight: 700;
  display: none;
}
/*displaying cart*/
#discart1 {
  position: absolute;
  width: 400px;
  margin-top: 30px;
  display: none;
}
#discart2 {
  position: absolute;
  display: block;
  width: 350px;
  margin: 12px;
}
.displaycart {
  position: absolute;
  display: none;
  width: 100%;
  height: 220px;
  max-width: 350px;
  background: white;
  z-index: 2;
  border-radius: 20px;
}
.empty {
  width: 100%;
  text-align: center;
  margin: 90px 0 0 0;
  color: hsl(219, 9%, 45%);
  font-size: 18px;
}
.head {
  width: 70px;
  text-align: center;
}
.head:before {
  content: "";
  width: 350px;
  height: 1px;
  background: hsl(214, 11%, 87%);
  position: absolute;
  margin: 38px 0 0 -19px;
}
.itemslist {
  display: grid;
  width: 310px;
  margin: 10px auto;
  height: 100px;
  grid-template-columns: 60px 220px 20px;
  place-items: center;
  padding: 15px 0;
  margin-top: 30px;
  box-sizing: border-box;
}
.itemslist p {
  margin: 0 15px;
  line-height: 25px;
  color: hsl(219, 9%, 45%);
}
.itemslist b {
  color: black;
}
.imgthumb {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-image: url(images/image-product-1-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.del {
  width: 50px;
  height: 50px;
  background-image: url(images/icon-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.ck {
  width: 310px;
  margin: -10px 20px;
  box-sizing: border-box;
}
#profile {
  margin-left: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#avatar {
  width: 25px;
  height: 25px;
}
aside {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  margin-top: -60px;
  padding: 20px;
  box-sizing: border-box;
  margin-left: -250px;
  z-index: 2;
}
aside a {
  margin: 20px 0 0 0;
}
aside img {
  width: 13px;
  height: 13px;
}
a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}
aside a {
  font-weight: 800;
  color: black;
}
main {
  display: grid;
  place-items: center;
}
#images {
  height: 250px;
  display: flex;
  width: 372px;
}
#images img {
  width: 372px;
}
#img {
  position: absolute;
  height: 250px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background: transparent;
}
.thumb {
  display: none;
}
.n1,
.n2 {
  background: white;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 12px;
}
.n1 {
  background-image: url(images/icon-previous.svg);
}
.n2 {
  background-image: url(images/icon-next.svg);
}
#navigate div {
  background-color: white;
  border-radius: 50%;
}
#n11:hover,
#n12:hover {
  background-image: none;
  background: orange;
  mask-size: 10px;
  -webkit-mask-size: 10px;
}
#n11:hover {
  mask-image: url(images/icon-previous.svg);
  -webkit-mask-image: url(images/icon-previous.svg);
}
#n12:hover {
  mask-image: url(images/icon-next.svg);
  -webkit-mask-image: url(images/icon-next.svg);
}

#about p {
  width: 290px;
  font-size: 10px;
}
strong {
  font-size: 10px;
  letter-spacing: 1px;
  color: hsl(26, 100%, 55%);
}
#about p:nth-child(2) {
  font-size: 25px;
  font-weight: 700;
  margin-top: -5px;
}
#about p:last-child {
  margin-top: -15px;
  font-size: 14px;
  line-height: 20px;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}
#price {
  display: grid;
  place-items: center;
  height: 150px;
  width: 300px;
  margin-top: -10px;
  grid-template-rows: 60px 50px 50px;
  grid-template-areas: "c" "q" "b";
}
#cost {
  grid-area: c;
  align-items: center;
}
#cost p:first-child {
  font-weight: 700;
  font-size: 22px;
  height: 30px;
}
#cost p:first-child:after {
  content: "50%";
  border-radius: 5px;
  padding: 3px 6px;
  margin-left: 15px;
  font-size: 13px;
  color: hsl(26, 100%, 55%);
  background: hsl(25, 100%, 94%);
  box-sizing: border-box;
}
#cost p:last-child {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-size: 12px;
  font-weight: 700;
}
#quantity {
  grid-area: q;
  background: hsl(223, 64%, 98%);
  height: 45px;
  padding: 0 20px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 50px;
}
#cost,
#quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
button {
  grid-area: b;
  background: hsl(26, 100%, 55%);
  border-width: 0px;
  width: 300px;
  box-sizing: border-box;
  height: 45px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
#atc {
  background-image: url(images/icon-cart.svg);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-position-y: center;
  background-position-x: 110px;
  background-size: 15px;
  margin-top: 15px;
  padding: 0 90px 0 130px;
}
#lightboard,
#navigate,
#img1 {
  display: none;
}
@media (min-width: 850px) {
  header,
  main {
    margin: 0px auto;
    max-width: 1200px;
  }
  header {
    height: 100px;
    padding: 0 0 0 20px;
    flex-wrap: wrap;
  }
  #underline {
    width: 95%;
    height: 1px;
    margin-top: -19.5px;
    background: hsl(214, 11%, 87%);
  }
  #images,
  aside {
    display: none;
  }
  main {
    display: flex;
    height: 600px;
    justify-content: space-around;
    padding: 0 30px;
    box-sizing: border-box;
  }
  #logo {
    height: 110px;
  }
  #menu {
    display: none;
  }
  #nav {
    margin-left: 20px;
    display: flex;
  }
  #nav div {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
  }
  #nav div span {
    display: none;
    width: 100%;
    background: hsl(26, 100%, 55%);
    height: 3px;
    margin-top: 35px;
    z-index: 2;
  }
  #avatar {
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }

  #discart2 {
    display: none;
  }
  #discart1 {
    display: block;
    margin-left: -150px;
    margin-top: 70px;
  }
  .displaycart {
    height: 250px;
    box-shadow: 3px 6px 5px 1px hsl(220, 14%, 75%),
      -3px 6px 5px 1px hsl(220, 14%, 75%);
  }
  .empty {
    margin-top: 110px;
  }
  #profile {
    width: 200px;
    margin-left: 0;
  }
  main {
    margin-top: 70px;
  }
  #thumbs {
    width: 500px;
    height: 500px;
    display: block;
  }
  .Mimg {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }
  .thumb {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .thumb img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  .thumb img:hover {
    opacity: 50%;
  }
  #mater {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  #about p {
    width: 400px;
  }
  #about p:first-child {
    margin: -10px 0 30px 0;
  }
  #about p:nth-child(2) {
    font-size: 35px;
    margin-top: -15px;
  }
  #about p:last-child {
    word-spacing: 2px;
    line-height: 25px;
  }

  #cost {
    width: 100px;
    display: block;
    margin-top: 50px;
    margin-right: auto;
  }
  #cost p {
    margin: 5px 0;
    box-sizing: border-box;
  }
  #quantity {
    margin: 0;
  }
  #flex {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    margin: 40px 5px 0 5px;
    margin-top: 100px;
  }
  #atc {
    padding: 0;
    margin: 0;
    background-position-x: left;
    background-position-x: 20px;
  }

  #quantity,
  #atc {
    width: 45%;
  }
  #lightboard {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
    background: rgba(173, 168, 168, 0.7);
    z-index: 5;
  }
  #n11,
  #n12 {
    width: 50px;
    height: 50px;
  }
  #lightboard .thumb {
    width: 500px;
  }
  #img1 {
    border-radius: 10px;
    display: block;
  }
  .lc {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: -30px 0 0 480px;
    background-image: url(images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .svg {
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }
  .lc:hover {
    background: none;
    background-color: orange;
    -webkit-mask-image: url(images/icon-close.svg);
    mask-image: url(images/icon-close.svg);
  }
  #navigate {
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-left: -25px;
  }
  .thumb img {
    border: solid;
    border-color: transparent;
  }
}
